
body {
  margin: 0;
  fontFamily: "'Poppins', sans-serif";
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

